<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ST2020 | Chat</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/sweetalert2.min.css">
</head>
<body class="chat">

  <div class="chat__sidebar">
    <h3>Member</h3>
    <div id="users"></div>
  </div>

  <div class="chat__main">

      <ol id="messages" class="chat__messages"></ol>  <!-- order list -->

      <div class="chat__footer">
        <form id="message-form">
          <input name="message" type="text" placeholder="Message" autofocus autocomplete="off" />
          <button >Send</button>
        </form>
        <button id="send-location">Send location</button>
      </div>


  </div>

 <!-- for render Mustache template -->
 <script id="message-template" type="text/template">
  <li class="message">
    <div class="message__title">
      <h4>{{from}}</h4>
      <span>{{createAt}}</span>
    </div>
    <div class="message__body">
      <p>{{text}}</p>
    </div>
  </li>
 </script>

 <script id="location-message-template" type="text/template">
  <li class="message">
    <div class="message__title">
      <h4>{{from}}</h4>
      <span>{{createAt}}</span>
    </div>
    <div class="message__body">
      <!-- <a href="{{url}}" target="_blank">My Current Location</a> -->
      <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;coord={{lat}},{{lng}}&amp;q={{lat}}%2C{{lng}}+(map)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe></div>
    </div>
  </li>
 </script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/jquery-3.1.0.min.js"></script>
<script src="/js/libs/sweetalert2.min.js"></script>
<script src="/js/libs/moment.js"></script>
<script src="/js/libs/mustache.js"></script>
<script src="/js/libs/deparam.js"></script>
<script src="/js/chat.js"></script>
</body>

</html>